<@center><b><#selectbg_g>系统要求</#></b>
<@left>
<b><#selectbg_g>NativeSD</#></b>
<b>说明：这种刷机方法是直接刷入内存卡，内存卡需要<#selectbg_g>C6</#>以上可以刷多个系统<b>
<b>1.sdcard需要分区<b>
<b>2.sdcard的第二个分区格式为Ext4<b>
<b>3.sdcard的第二分区不小于1.5g<b>
<b><#selectbg_g>DirectSD</#></b>
<b>说明：这种刷机方法是直接刷入内存卡，内存卡需要<#selectbg_g>C6</#>以上可以刷双系统<b>
<b>1.sdcard需要分区<b>
<b>2.sdcard的第二第三分区格式为Ext4<b>
<b>3.sdcard的第二分区不小于1.5g<b>
<b>4.sdcard的第三分区不小于1.5g<b>
<b><#selectbg_g>MultiBoot</#></b>
<b>说明：本方法是刷入机身的<#selectbg_g>data的大小最好少2.5g</#>可以刷多个系统<b>

<b><#selectbg_g>备份机身boot.img</#></b>
<b>说明：<#selectbg_g>第一次使用多系统请选择备份机身boot.img!!!</#><b>

<b><#selectbg_g>格式化内存卡Ext4分区</#></b>
<b>说明:<#selectbg_g>DirectSD请选择格式化内存卡Ext4，NativSD如果想格式化可以选择，格式化之后内存卡系统将全部没有！！！</#><b>

<b>如果觉得不错的话请加分哦！<b>
<b><#selectbg_g>本人sina微博：http://weibo.com/EverNeverNCWU</#><b>


